@model ARMCommon.Model.SQLDataSource

@{
    ViewData["Title"] = "Create";
}

<h2>API / Data Sources</h2>
<a asp-controller="ARMSignIn" asp-action="SignOut" id="SignOut" class="redirectButton" title="redirectButton"> Sign Out </a>



<div id="data-source" class="data-source">
    <div class="col-md-12">
        <form asp-action="CreateSQLDataSource">
            <div class="notication-create d-flex justify-content-between mt-3 mb-3">
                <div class="back-list">
                    <a asp-controller="ARMDataSources" asp-action="SQLDataSourceList" asp-route-Appname="@Html.ValueFor(model => model.AppName)" id="redirectApp" class="redirectButton btn btn-primary" title="redirectButton">
                        <span class="btn-label"> <i class="fa-solid fa-arrow-left"></i></span> Back To List
                    </a>
                </div>
                <div class="notification-submit-app">
                    <input type="submit" value="save" class="btn btn-primary" />
                </div>
            </div>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="AppName" class="control-label"></label>
                    <input asp-for="AppName" ReadOnly="true" id="txtkey" class="form-control" />
                              <select asp-for="AppName"
                    asp-items="@(new SelectList(Model.app1,"ID","Name"))"  class="form-control">
                    <option disabled>Please select one</option>
                    </select>

                </div>
                <div class="form-group col-md-6">
                    <label asp-for="DataSourceID" class="control-label">ID</label>
                    <input asp-for="DataSourceID" class="form-control" />
                    <span asp-validation-for="DataSourceID" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="DataSourceDesc" class="control-label">Description</label>
                    <input asp-for="DataSourceDesc" class="form-control" />
                    <span asp-validation-for="DataSourceDesc" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="expiry" class="control-label">Expiry</label>
                    <input asp-for="expiry" class="form-control" />
                    <span asp-validation-for="expiry" class="text-danger"></span>
                </div>
            </div>
            <div class="myDiv" id="showSQL">
                <div class="form-group col-md-12">
                    <label asp-for="SQLScript" class="control-label"> SQL Script</label>
                    <input asp-for="SQLScript" class="form-control" />

                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <div class="form-group form-check col-md-4" id="isActive">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsActive" /> Active?
                        </label>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <div class="form-group form-check col-md-4" id="iscached">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="iscached" /> Enable Cache?
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsDataSyncActive" /> DataSync Active?
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="DataSyncInterval" class="control-label"> Refresh DataSync Interval (In Seconds)</label>
                    <input asp-for="DataSyncInterval" class="form-control" value="0" />
                    <span asp-validation-for="DataSyncInterval" class="text-danger"></span>
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label">Data Re-sync DataSources (On Successful response)</label>
                    @Html.ListBoxFor(m => m.selectedDataSyncDataSources, new SelectList(Model.DataSyncDataSources, "ID", "DataSourceID"), new { @id = "ddlDataSources", @class = "form-control select-multiple", multiple = "multiple" })
                </div>

                <div class="form-group col-md-12">
                    <label class="control-label">User group permissions</label>
                    @Html.ListBoxFor(m => m.selectedUserGroups, new SelectList(Model.UserGroups, "ID", "Name"), new { @id = "ddlUserGroups", @class = "form-control select-multiple", multiple = "multiple" })
                </div>

                <div class="form-group col-md-2 mb-2">
                    <input id="chkAllUserGroups" type="checkbox">Select All
                </div>
            </div>


            @*<div class="form-group col-md-6">
            <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <a asp-controller="ARMDataSources" asp-action="ListByApp" asp-route-Appname="@Html.ValueFor(model => model.AppName)"> Back to List</a>*@


        </form>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.css" integrity="sha512-6sALqOPMrNSc+1p5xOhPwGIzs6kIlST+9oGWlI4Wwcbj1saaX9J3uzO3Vub016dmHV7hM+bMi/rfXLiF5DNIZg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/theme/material.min.css" integrity="sha512-jA21084nir3cN96YuzJ1DbtDn30kxhxqQToAzCEGZcuRAswWfYirpUu8HVm8wRNoWDCYtA4iavd2Rb1bQSLv7g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.js" integrity="sha512-XMlgZzPyVXf1I/wbGnofk1Hfdx+zAWyZjh6c21yGo/k1zNC4Ve6xcQnTDTCHrjFGsOrVicJsBURLYktVEu/8vQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/xml/xml.min.js" integrity="sha512-UWfBe6aiZInvbBlm91IURVHHTwigTPtM3M4B73a8AykmxhDWq4EC/V2rgUNiLgmd/i0y0KWHolqmVQyJ35JsNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/css/css.min.js" integrity="sha512-UB/NeigW3LreuA/sHVVcykCf2FzhzHlk0BpsanfK8VmvvLFLUof1ysy1hCOYhyqlfCY8HW7w8qh/rsUJZLMpIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/javascript/javascript.min.js" integrity="sha512-DJ/Flq7rxJDDhgkO49H/rmidX44jmxWot/ku3c+XXEF9XFal78KIpu7w6jEaQhK4jli1U3/yOH+Rp3cIIEYFPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/htmlmixed/htmlmixed.min.js" integrity="sha512-IC+qg9ITjo2CLFOTQcO6fBbvisTeJmiT5D5FnXsCptqY8t7/UxWhOorn2X+GHkoD1FNkyfnMJujt5PcB7qutyA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

@section Scripts {


    <style>

        a#SignOut {
            position: absolute;
            top: 25px;
            right: 40px;
            font-size: large;
        }

        select#dropdowntipo {
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 6px;
            padding-bottom: 6px;
        }

        select#reQuestType {
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 6px;
            padding-bottom: 6px;
        }

        h2 {
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 0.6px;
        }

        a {
            text-decoration: none;
        }

        div#data-source {
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 6px 0 #ddd;
        }

        label.control-label {
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .select2-container {
            display: contents;
        }
    </style>

    <script src="~/lib/select2/js/select2.full.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {



            $("#ddlUserGroups").select2({
                multiple: true,
                closeOnSelect: false,
                placeholder: "Please select the user groups...",
                allowHtml: true,
                allowClear: true,
                tags: true
            });

            $("#ddlDataSources").select2({
                multiple: true,
                closeOnSelect: false,
                placeholder: "Please select the data source...",
                allowHtml: true,
                allowClear: true,
                tags: true
            });

            $("#chkAllUserGroups").click(function () {
                if ($("#chkAllUserGroups").is(':checked')) {
                    $("#ddlUserGroups > option").prop("selected", "selected");
                    $("#ddlUserGroups").trigger("change");
                } else {
                    $("#ddlUserGroups").val('').trigger("change");
                }
            });
        });


    </script>


}