@model IEnumerable<ARMCommon.Model.AxInlineForm>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>
   <a asp-controller="ARMSignIn" asp-action="SignOut" id="SignOut" class="redirectButton" title="redirectButton"> Sign Out </a>
<p>
       <a asp-action="Create" asp-route-Appname=@ViewBag.result>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.formIcon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddQuickAccess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnableSend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedSendOnlyTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoSend)
            </th>
  
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
              <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.formIcon)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.StatusValue)
            </td>
 
            <td>
                @Html.DisplayFor(modelItem => item.AddQuickAccess)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnableSend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelectedSendOnlyTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoSend)
            </td>
            
            <td>
              
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
   <div class="col-sm-6"> 
   <a asp-controller="ARMApps" asp-action="List" id="redirectApp" class="redirectButton" title="redirectButton"> View Connected Apps </a>
   </div>
          @section Scripts {

    <style>
 
        a#SignOut {
    position: absolute;
    top: 19px;
    right: 40px;
    font-size: large;
}
    </style>
 
}
